<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.edavtyan.materialplayer2"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="com.edavtyan.materialplayer2.App"
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:theme="@style/AppTheme"
		android:persistent="true"
		>

		<activity
			android:name="com.edavtyan.materialplayer2.ui.main.MainActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name="com.edavtyan.materialplayer2.ui.detail.artist_detail.ArtistDetailActivity"
			android:theme="@style/AppTheme.Translucent"
			/>

		<activity
			android:name="com.edavtyan.materialplayer2.ui.detail.album_detail.AlbumDetailActivity"
			android:theme="@style/AppTheme.Translucent"
			/>

		<activity
			android:name="com.edavtyan.materialplayer2.ui.now_playing.NowPlayingActivity"
			android:theme="@style/AppTheme.Translucent"
			/>

		<activity android:name="com.edavtyan.materialplayer2.ui.audio_effects.AudioEffectsActivity" />
		<activity android:name="com.edavtyan.materialplayer2.ui.search.SearchActivity" />
		<activity android:name="com.edavtyan.materialplayer2.ui.prefs.PrefActivity" />
		<activity android:name="com.edavtyan.materialplayer2.ui.detail.playlist_detail.PlaylistDetailActivity" />

		<service
			android:name="com.edavtyan.materialplayer2.service.PlayerService"
			android:enabled="true"
			/>

		<receiver android:name="com.edavtyan.materialplayer2.service.receivers.MediaButtonReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
